#book_now {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.icon.is_active {
  background-color: green;
}
.icon {
  border-radius: 10%;
  height: 30px;
  width: 30px;
}
#book_movie {
  height: 80vh;
  width: 30vw;
  margin: auto;
  border: 2px solid black;
}
