.icon.is_active {
  background-color: rgb(70, 70, 70);
}
.icon {
  border-radius: 10%;
  height: 30px;
  width: 30px;
}

.poster_card :hover {
  background-color: black;
  color: rgb(255, 255, 255) !important;
}
